
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(197, 197, 197, 0.8);
}
::-moz-placeholder { /* Firefox 19+ */
  color rgba(197, 197, 197, 0.8);
}
:-ms-input-placeholder { /* IE 10+ */
  color rgba(197, 197, 197, 0.8);
}
:-moz-placeholder { /* Firefox 18- */
  color rgba(197, 197, 197, 0.8);
}

body{
	background-image: url('../img/bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100vh;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
}
.preloader{
	height: 100%;
    background: rgb(0, 0, 0);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 11;
    display: flex;
    align-items: center;
    justify-content: center;
}
.preloader img{
	width: 500px;
	animation: preloader 5s ease infinite;
}
.wrapper{
	z-index: 2;
	display: flex;
	margin: 20px;
	background: linear-gradient(-45deg, rgba(238, 119, 82, 0.8), rgba(231, 60, 126, 0.8), rgba(35, 166, 213, 0.8), rgba(35, 213, 171, 0.8));
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}
.form{
	    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    /* border: 2px solid #5f5f5f; */
    max-width: 500px;
    width: 500px;
    margin: 5px;
}
.form-group{
	display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.form-group.form-group-input label{
	margin-bottom: 0px;
}
.form-group-submit{
	display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0
}
.form-group-submit button{
	border: 2px solid rgba(197, 197, 197, 1);
	color: #fff;
    width: 140px;
    height: 40px;
    float: right;
    font-size: 18px;
    background: transparent;
    cursor: pointer;
    transition: 0.3s all;
    
}
.form-group-submit button:hover{
	border: 2px solid #fff;
	background:#fff;
    color:#000;


}
.form-group label{
	margin-bottom: 10px;
}
.form input{
	transition: 0.3s all;
    overflow: hidden;
    background: transparent;
    color: rgba(197, 197, 197, 0.8);
    border-bottom: 1px solid rgba(197, 197, 197, 0.8);
    padding: 0;
    font-style: italic;
}
.form input.active,.form input:focus{
    outline: none;
    box-shadow: none;
    color: #fff;
    border-bottom: 1px solid #fff;
}
.input-text{
	height: 40px;
    border: none;
    padding: 0 10px;
}

textarea{
	height: 100px;
	transition: 0.3s all;
    resize: none;
    background: transparent;
    padding: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    outline: none;
    color: #fff;

}

textarea:focus,textarea.active{
	border:1px solid #fff;
}
.form-text{
	text-align: center;
	display: flex;
	justify-content: center;
	margin-bottom: 0;
	text-decoration: underline;
	font-size: 25px;
}
#admin{
	display: flex;
	justify-content: flex-end;
}
.fileform {
    cursor: pointer;
    overflow: hidden;
    padding: 2px;
    position: relative;
    text-align: left;
    vertical-align: middle;
    width: 100%;
    height: 40px;
    padding: 0px 0px 0 10px;
    width: 100%;
    border: solid 1px  rgba(197, 197, 197, 0.8);
    font-size: 12px;
    box-sizing: border-box;
    outline: none;
    display: flex;
}
.fileform:after{
	content: "";
	clear:both;
}
.fileform .fileformlabel {
    background-color: transparent;
    line-height: 22px;
    overflow: hidden;
    padding: 8px;
    text-align: left;
    width: 75%;
}
.fileform .selectbutton {
    border-left: 1px solid rgba(197, 197, 197, 0.8);
    color: #afc3d4;
    float: right;
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 40px;
    line-height: 20px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    width: 25%;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
    z-index: 30;
}
.fileform:hover .selectbutton{
	background: #fff;
	color: #000;
}
.fileform .upload {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
    opacity: 0;
    font-size: 10px;
    height: 40px;
    z-index: 99;
    cursor: pointer;
     white-space: nowrap;
     text-overflow: ellipsis; 
    overflow: hidden;
}


.file-upload-box{
	margin-bottom: 10px;
}
.file-upload-box:last-child{
	 margin-bottom: 0px;

}
.form-group-file-upload .small{
	font-size: 14px;
	color: rgba(197, 197, 197, 0.8);
}
.dropzone{
    border: 1px dashed rgba(197, 197, 197, 0.8);
    padding: 5px;
    color: rgba(197, 197, 197, 0.8);
    transition: 0.3s all;
}
.dropzone:hover{
	border: 1px dashed #fff;
	color: #fff;
}
    

.dropzone .dz-message{
    line-height: 175px;
    margin: 0;
}

.dropzone .dz-preview .dz-image{
	border-radius: 0;
}

.dropzone.dz-max-files-reached{
	border: none;
}
.dropzone .dz-preview {
    border: 4px solid #ffffff;
    margin: 5px;
}
 .dropzone .dz-image{
    border-radius: 0;
    width: 94px;
    height: 94px;
}
.dropzone .dz-remove{
    background: #a31618;
    color: #fff;
}
.dropzone .dz-error-message{
    top: 130px;
    left: -20px;

}

.dropzone{
    border: 1px dashed;
    padding: 5px;
    	background: transparent;



    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.dropzone .dz-message{
	line-height: 1;
}
   

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
@keyframes preloader {
	0% {
		width: 300px;
	}
	10% {
		width: 350px;
	}
	20% {
		width: 300px;
	}
	30% {
		width: 350px;
	} 
	40% {
		width: 300px;
	}
	50% {
		width: 350px;
	} 
	60% {
		width: 300px;
	}
	70% {
		width: 350px;
	} 
	80% {
		width: 300px;
	} 
	90% {
		width: 350px;
	} 
	100% {
		width: 300px;
	}
}

@media (max-width: 768px){
	.wrapper{
		width: 100%;
	}
	.form{
		max-width: 100%;
    	width:100%;
	}
}

/* thanks page */
.thank-box{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
}
.message{
    text-shadow: 2px 2px 2px #000;
	font-size: 24px;
	padding: 20px;
	font-size: 22px;
	text-align: center;	
    line-height: 1.5;
    padding: 15px 20px;
	color: #fff;
	background: linear-gradient(-45deg, rgba(238, 119, 82, 0.8), rgba(231, 60, 126, 0.8), rgba(35, 166, 213, 0.8), rgba(35, 213, 171, 0.8));
	background-size: 400% 400%;
		-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}
.social{
	background: rgba(0, 0, 0, 0.7);
	display: flex;
	justify-content: center;
	text-align: center;
	background: #000;
	padding: 20px;
	

}
.social a{
	width: 50px;
	margin: 0 10px;
}
.social a img{
	width: 100%;
	height: auto;
}